/* Basic styling set */
html, body {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
/*--------------------*/


header {
  background-color: grey;
  height: 72px;

}

.headercontainer {
  display: grid;
  padding: 12px;
  grid-template-columns: 120px 1fr auto;
  height: 100%;
}

img {
  width: 40%;
  height: 100%;
}

nav {
  grid-column: 3;
  height: 100%;
  width: 48px;
  background-color: darkblue;  
}

a {
  background-color: white;
  padding: 1px;
}



.headercontainer > * {
}

.bannerlogo {
  background-color: red;

}



.pagecontainer {
  style: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  background-color: lightblue;

}



main {
  background-color: green;
}

footer {
  background-color: navy;
}

/* media breakpoint 1000px
turn button into wide nav */